            # Dependencies
            /node_modules/
            
            # Build directory
            /dist/
            
            # Environment files (environment variables)
            .env
            .env.local
            
            # Local configuration files (Webpack, Babel, etc.)
            *.local.*
            
            # npm/yarn logs
            npm-debug.log*
            yarn-debug.log*
            yarn-error.log*
            
            # System files (Windows/macOS)
            .DS_Store 
            Thumbs.db