/* ---Light CSS Reset--- */
html {
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}

:root {
    --gray-900: #131319;
    --gray-800: #16161f;
    --gray-700: #1c1c27;
    --gray-600: #1e1e29;
    --gray-500: #3b3b54;
    --gray-400: #7f7f98;
    --gray-300: #ababc4;
    --gray-200: #bfbfd4;
    --gray-100: #fafafa;
    --light-blue: #8fb2f5;

    --font-xs: calc(11px + 0.15vw);
    --font-small: calc(12px + 0.5vw);
    --font-xl: calc(16px + 1.25vw);
    

    --transition-default: all 0.2s ease;
}

body {
    height: 100%;
    font-family: "Quicksand", sans-serif;
    background: url(assets/Background.png) center/cover no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.header{
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin:1em auto 1em auto;
}

.icon-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-title svg{
    width: 30px;
    height: 30px;
}

.title{
    font-weight: 600;
    color: var(--light-blue);
}

.search-toggle{
    display: flex;
    width: 100%;
    gap: .75em;
    justify-content: center;
    align-items: center;
}

form{
    position: relative;
    flex: 1;
    max-width: 25em;
    min-width: 10em;
}
/* Chrome, Safari, Opera */
::-webkit-input-placeholder {
    font-family: "Quicksand, sans-serif";
}

/* Firefox 19+ */
::-moz-placeholder {
    font-family: "Quicksand, sans-serif";
}

/* Internet Explorer 10–11 */
:-ms-input-placeholder {
    font-family: "Quicksand, sans-serif";
}

/* Edge (old versions) */
::-ms-input-placeholder {
    font-family: "Quicksand, sans-serif";
}

::placeholder{
    font-family: "Quicksand", sans-serif;
    color: var(--gray-300)
}

.search-btn{
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    padding: .5em 1em;
}

 
input[type="search"]{
    background: var(--gray-600);
    color:  var(--gray-300);
    border-radius: .5em;
    padding: 1em;
    width: 100%;
    border: none;
}

/* Override browser autocomplete styling */
input[type="search"]:-webkit-autofill,
input[type="search"]:-webkit-autofill:hover,
input[type="search"]:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--gray-300);
    -webkit-box-shadow: 0 0 0 1000px var(--gray-600) inset;
    box-shadow: 0 0 0 1000px var(--gray-600) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.temp-unit-toggle{
    padding: .5em 1em;
    width: 40px;
}

.temp-unit-toggle,
.search-btn {
    background-color: var(--gray-500);
    color: var(--gray-200);
    font-weight: 600;
    font-family: 'Quicksand';
    border: none;
    border-radius: .5em;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 34rem;
    gap: .55em;
    align-self: center;
    background-color: var(--gray-600);
    padding: .65em;
    border-radius: .5em;
    
}

.today-forecast {
    background-color: var(--gray-500);
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 1.25em;
}

address{
    font-style: normal;
}

.location-time{
    display: flex;
    justify-content: space-between;
    color: var(--gray-200);
}

.location>time{
    font-size: var(--font-xs);
}

.weather-info{
    display: flex;
    flex-direction: column;
    color: var(--gray-100);
}

.current-temp{
    font-weight: 800;
    font-size: var(--font-xl);
}

.ranges-temp{
    font-size: var(--font-xs);
}

.today-details, .week-predictions {
    background-color: var(--gray-800);
    padding: 1em 1.25em;
}

.details-title, .predictions-title{
    color: var(--gray-400);
    padding: .5em 0 1.5em 0;
}

.detail-item:not(:first-child) {
    border-top: 2px solid var(--gray-600);

}

.detail-item{
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.detail-descriptor {
    color: var(--gray-200);
}

.fa-solid, .fa-regular {
    padding: 0 .75em 0 0.25em;
    color: var(--gray-400);
}

.detail-value {
    color: var(--gray-100);
}

.today-details, .details-title{
    font-weight: 700;
}

.week-predictions {
    color: var(--gray-300);
}

.predictions-title, .day, .day-stats{
    font-weight: 700;
}

.predictions-list{
    display: flex;
    text-align: center;
    gap: 8px;
    justify-content: space-between;
}

.prediction-item{
    display: flex;
    flex-direction: column;
    min-height: 8em;
    justify-content: space-between;
}

.min{
    color: var(--gray-300);
}

.max{
    color: var(--gray-100);
}

.min, .max{
    display: block;
}

.slash, .day-weather, .end{
    display: none;
}

.day-temp-range{
    display: block;
}
.day-weather,.day-temp-range{
   font-size: var(--font-xs); 
}

.today-forecast, .today-details, .week-predictions{
    border-radius: .3em;
}

address>p, .location>time,.time>time, .ranges-temp, .weather-conditions {
    font-weight: 700;
}

address>p, .time>time, .weather-conditions {
    font-size: var(--font-small);
    color: var(--gray-100);
}

/* ------------- DESKTOP STYLES -------------*/
@media only screen and (min-width: 880px){

    .header{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 1.5em 0 2em 0;
    }

    .icon-title{
        position: absolute;
        left: 0;
    }

    .content{
        display: grid;
        grid-template-columns: 1.015fr 1fr;
        grid-template-rows: 1.2fr 1fr;
        max-width: 100%;
        padding: 1.25em;
        gap: 1.25em;
    }

    .today-forecast{
        grid-row: 1/-1;
        height: 100%;
    }

    .predictions-list {
        gap: 0;
        justify-content: space-around;
    }

    .prediction-item {
        min-height: 12rem;
        flex: 1;
    }

    .day-stats{
        display: grid;
        gap: .25em;
        height: 5.75em;
        align-content: space-between;
    }

    .start, .end{
        font-size: var(--font-xs);
        display: inline-block;
    }

    .day-temp-range{
        align-self: end;
    }

    .day-weather{
        display: block;
    }

}
